{% load static %}

<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stize Uskoro</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/comming_soon.css' %}">
</head>
<body>
   <header>
    

   </header>
   <main>
    <div class="coming-soon-container">
        <h1>
            Stiže Uskoro 
            <span class="dot-1">
                .
            </span>
            <span class="dot-2">
                .
            </span>
            <span class="dot-3">
                .
            </span>
        </h1>
        <p>Naša stranica je trenutno u izradi. Budite u toku!</p>
        <p>Kontaktirajte nas na instagramu @3d.printing_ns</p>
    </div>
   </main>
  
</body>
</html>