{% load static %}
{% block content %}
<div id="navMobile" class="nav-mobile" style="display: none;">
    <div class="nav-content">

        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>

        <div class="nav-links">
            <div class="nav-link">
                <a href="{% url 'home' %}">Pocetna</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'proizvodi' %}">Proizvodi</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'usluge' %}">Usluge</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'tehnologija' %}">Tehnologija</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'onama' %}">O nama</a>
            </div>

            <div class="nav-link">
                <a href="{% url 'blog' %}">Blog</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'kontakt' %}">Kontakt</a>
            </div>

            
            

        </div>

           <div class="social-networks">

            <a href="">
                <img src="{% static 'images/instagram.png' %}" alt="">
            </a>
            <a href="">
                <img src="{% static 'images/instagram.png' %}" alt="">
            </a>

           </div>
        
        <span onclick="zatvaranjeNavigacije()">&#x2715;</span>

    </div>

</div>

<div class="navigacija">
    <button onclick="otvaranjeNavigacije()" class="navigacija-hamburger">&#x2630;</button>
    <a href="">
        <img src="" alt="">
    </a>
    
    <div class="navigacija-desno">
        <a class="korpa" href="">
            <img src="{% static 'images/cart.png' %}" alt="">
        </a>

       
        <div class="korisnik">
            {% if user.is_authenticated %}
            <img src="{% static 'images/user.png' %}" alt="" class="korisnik-toggle">
            <div class="korisnik-menu">
                <p>Ime: {{ korisnicko_ime }}</p>
                <p>Email: {{ email }}</p>
                <a href="{% url 'logout' %}"><button class="logout-button">Logout</button></a>
                <!-- Dodajte više informacija po potrebi -->
            </div>
        {% else %}
            <a href="{% url 'testiraj_usera' %}">
                <img src="{% static 'images/user.png' %}" alt="">
            </a>
        {% endif %}
       
        </div>
        
       
 </div>

 <script>
    document.addEventListener("DOMContentLoaded", function() {
        var korisnikToggle = document.querySelector('.korisnik-toggle');
        var korisnikMenu = document.querySelector('.korisnik-menu');
    
        korisnikToggle.addEventListener('click', function() {
            if (korisnikMenu.style.display === "block") {
                korisnikMenu.style.display = "none";
            } else {
                korisnikMenu.style.display = "block";
            }
        });
    
        // Dodajte funkcionalnost za zatvaranje menija ako kliknete van menija
        window.addEventListener('click', function(event) {
            if (!event.target.matches('.korisnik-toggle')) {
                if (korisnikMenu.style.display === "block") {
                    korisnikMenu.style.display = "none";
                }
            }
        });
    });
    </script>


<script>

    function otvaranjeNavigacije() {
        navMobile = document.getElementById("navMobile");
        navMobile.style.display = 'block';


    }

    function zatvaranjeNavigacije() {
        navMobile = document.getElementById("navMobile");
        navMobile.style.display = 'none';
    }


</script>

<script>
const navLinks = document.querySelectorAll('.nav-link');

navLinks.forEach(link => {
  link.addEventListener('click', function(event) {
    // Prevent default link behavior (redirect)
    event.preventDefault();

    // Get the anchor tag within the clicked nav-link
    const targetLink = this.querySelector('a');
    targetLinkReal = targetLink.getAttribute('href')

    // Simulate click on the anchor tag
    window.location.href = targetLinkReal;

    // Optionally, redirect the user after the simulated click
    // const targetUrl = targetLink.getAttribute('href');
    // window.location.href = targetUrl;
  });
});
</script>

{% endblock content %}