{% load static %}
{% block content %}
<div id="navMobile" class="nav-mobile" style="display: none;">
    <div class="nav-content">

        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>

        <div class="nav-links">
            <div class="nav-link">
                <a href="{% url 'home' %}">Pocetna</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'proizvodi' %}">Proizvodi</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'usluge' %}">Usluge</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'tehnologija' %}">Tehnologija</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'onama' %}">O nama</a>
            </div>

            <div class="nav-link">
                <a href="{% url 'blog' %}">Blog</a>
            </div>
    
            <div class="nav-link">
                <a href="{% url 'kontakt' %}">Kontakt</a>
            </div>

            
            

        </div>

           <div class="social-networks">

            <a href="">
                <img src="{% static 'images/instagram.png' %}" alt="">
            </a>
            <a href="">
                <img src="{% static 'images/instagram.png' %}" alt="">
            </a>

           </div>
        
        <span onclick="zatvaranjeNavigacije()">&#x2715;</span>

    </div>

</div>

<div class="navigacija">
    <button onclick="otvaranjeNavigacije()" class="navigacija-hamburger">&#x2630;</button>
    <a href="">
        <img src="" alt="">
    </a>
    
    <div class="navigacija-desno">
        <a class="korpa" href="">
            <img src="{% static 'images/korpa.png' %}" alt="">
        </a>

        <a class="korisnik" href="">
            <img src="{% static 'images/user.png' %}" alt="">
        </a>
        
       
    </div>

</div>

<script>

    function otvaranjeNavigacije() {
        navMobile = document.getElementById("navMobile");
        navMobile.style.display = 'block';


    }

    function zatvaranjeNavigacije() {
        navMobile = document.getElementById("navMobile");
        navMobile.style.display = 'none';


    }

</script>

{% endblock content %}