{% load static %}

<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Najnovija tehnologija 3D štampe omogućava izradu trodimenzionalnih objekata slojevito dodavanjem materijala na osnovu digitalnog modela">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tehnologija</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favico.ico' %}">
</head>
<body>
   <header>
    {% include 'home/navigacija.html' %}

   </header>
   <main>
    
    {% include 'home/comming_soon.html' %}

   </main>
   <footer>
    Copyright © 2024 3D Printing NS
   </footer>
</body>
</html>