{% load static %}

<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Nudimo usluge štampanja najnovijom tehnologijom 3d štampe, u najkracem roku, sa ili bez vašeg 3d modela">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usluge</title>
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favico.ico' %}">
</head>
<body>
   <header>
    {% include 'home/navigacija.html' %}

   </header>
   <main>
    {% include 'home/comming_soon.html' %}
   </main>
   <footer>
    Copyright © 2024 3D Printing NS
   </footer>
</body>
</html>