
@font-face {
    font-family: 'Cabinetrotesk-Medium';
    src: url('/static/fonts/CabinetGrotesk-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'Allema';
    src: url('/static/fonts/Allema.otf') format("opentype");
}

@font-face {
    font-family: 'Breety-Italic';
    src: url('/static/fonts/Breety-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Archivo-ExtraBold';
    src: url('/static/fonts/Archivo-ExtraBold.otf') format("opentype");
}

@font-face {
    font-family: 'Archivo-Bold';
    src: url('/static/fonts/Archivo-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Archivo-Medium';
    src: url('/static/fonts/Archivo-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'Archivo-SemiBold';
    src: url('/static/fonts/Archivo-SemiBold.otf') format("opentype");
}

:root {
    --tamnoplava: #222831;
    --siva: #31363F;
    --svetloplava: #76ABAE;
    --bela: #EEEEEE;
  }




body{

    background-color: var(--bela) ;

}



.nav-mobile{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
}

.nav-content{
    background-color: var(--svetloplava);
    height: 100%;
    width: auto; 
    padding: 35px;
    position: absolute;
   
}

.nav-content span{
    position: absolute;
    right: 15;
    cursor: pointer;
    top: 15;
}

.nav-links{
    display: grid;
    gap: 35px;
    margin-top: 75px;
    justify-content: center;

}

.nav-link{
    background-color: var(--tamnoplava);
    border-radius: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link a{
    font-family: 'Archivo-Medium', sans-serif;
    text-decoration: none;
    color: #76ABAE;
}







.navigacija{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #31363F;
}
.navigacija-hamburger{
    background-color: #76ABAE;
    padding: 10;
    border-radius: 140px;
    font-weight: 800;
    font-size: 23;
    height: 50px;
    width: 50px;
    border: 0;
}
.navigacija-desno{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   position: relative;
}
.korisnik img{
    width: 50px;
}
.korpa img{
    width: 50px;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 150px;
}


.social-networks{

    display: flex;
    justify-content: center;
    height: 150px;
    align-items: end;

}

.social-networks a img{
    width: 50px;

}



.korisnik {
    position: relative;
    display: inline-block;
    
}

.korisnik-menu {
    display: none; /* Skriven po defaultu */
    position: absolute;
    right: 0;
    background-color: var(--bela);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px;
    right: 5px;
}

.korisnik-menu p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.korisnik-toggle {
    cursor: pointer;
}

.logout-button {
    background-color: #f44336; /* Crvena boja */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.logout-button:hover {
    background-color: #d32f2f; /* Tamnija crvena boja */
}

footer{
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31363F;
    color: var(--svetloplava);
}